

body {
    background-color: yellow;
    font-family: sans-serif, calibri;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

ul.links {
    list-style-type: none;
    font-size: large;
    text-align: right;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

figcaption {
    text-align: center;
    font-size: large;
}

form{
    text-align: center;
    margin-left: 20px;
}

.information {
    margin:0 auto;
    width: 600px;
    padding: 10px;
    border: 5px 
    justify-content: center;
}

ul {
    text-align: center;

}

ul.registration {
    list-style-type: none;
}

label, input {
    margin-bottom: 10px;
    display: table-cell;
}

label.email {
    padding-left: 27.5px;
}


div {
    height: 50px;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    margin: auto;
}

footer {
    text-align: center;
}